.features {
  padding: 40px 20px; /* Increased padding */
  background-color: #f7f7f7;
  text-align: center;
}

.features-grid {
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: auto auto auto auto auto; 
  max-width: 800px; 
  margin: 0 auto;
  gap: 20px; /* Added space between the rows */
  align-items: center;
  justify-items: center;
}

.pill-image-container {
  grid-row: 3;
  background-image: url('/src/images/pillz.png'); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-90deg);
  margin: 20px 0; /* Added margin for spacing */
}

.pill-image {
  width: 60%;
  height: auto;
}

.feature-item h3 {
  color: rgba(56, 96, 79, 0.9); 
  font-size: 1.8rem;
  margin-bottom: 10px; /* Added space below heading */
}

.feature-item p {
  margin: 0 0 20px; /* Added space below paragraphs */
}

@media (max-width: 768px) {
  .pill-image-container {
    width: 100px;
    height: 100px;
    transform: rotate(0deg); 
    margin: 20px auto;
  }
  
  .feature-item h3 {
    font-size: 1.5rem; 
  }
}
